
body {
  padding-top: 20px;
}

ul {
  list-style: none;
}
li {
  clear: both;
  height: 115px;
  padding-top: 35px;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

span {
  padding-left: 10px;
  padding-top: 10px;
    display: inline-block
}